// Plugin
.overlay {
	position: fixed;
	.square(100%);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	z-index: 100;
	overflow-x: hidden;
	overflow-y: auto;
}
.layer-backdrop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: none;
	background: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  z-index: 101;
}
.layer {
	box-shadow: 0 0 10px #363636;
	background: #ffffff;
	display: none;
	max-width: 100%;
	z-index: 102;
	&.no-header {
		> .inner {
			padding-top: 0;
		}
	}
	&.no-footer {
		> .inner {
			padding-bottom: 0;
		}
	}
	> .inner {
		position: relative;
		padding-top: 36px;
		padding-bottom: 50px;
	}
	.layer-close {
		position: absolute;
		color: #000000;
		text-shadow: 0 1px 1px #ffffff;
		width: 28px;
		height: 28px;
		margin: 0;
		top: 4px;
		right: 4px;
		border: solid 1px #bbbbbb;
		background: #bbbbbb;
		border-radius: 2px;
		z-index: 2;
		span {
			display: inline-block;
			vertical-align: middle;
			line-height: 150%;
			text-align: center;
		}
	}
	.layer-header {
		font-size: 16px;
		background: #cccccc;
		margin: 0;
		padding: 10px 20px;
		padding-right: 50px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
	.layer-footer {
		position: absolute;
		height: 50px;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
		background: #cccccc;
		> .inner {
			border-top: solid 1px #c0c0c0;
			padding: 10px;
		}
	}
	.layer-content-wrap {
		overflow: auto;
	}
	.layer-content {
		padding: 20px;
	}
}

.no-overflow {
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

.iemobile {
	.no-overflow {
		position: fixed;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

@-webkit-keyframes fadeInOverlay {
	0% {opacity: 0;}
	100% {opacity: 0.75;}
}

@-moz-keyframes fadeInOverlay {
	0% {opacity: 0;}
	100% {opacity: 0.75;}
}

@-o-keyframes fadeInOverlay {
	0% {opacity: 0;}
	100% {opacity: 0.75;}
}

@keyframes fadeInOverlay {
	0% {opacity: 0;}
	100% {opacity: 0.75;}
}

.fadeInOverlay {
	-webkit-animation-name: fadeInOverlay;
	-moz-animation-name: fadeInOverlay;
	-o-animation-name: fadeInOverlay;
	animation-name: fadeInOverlay;
}

@-webkit-keyframes fadeOutOverlay {
	0% {opacity: 0.75;}
	100% {opacity: 0;}
}

@-moz-keyframes fadeOutOverlay {
	0% {opacity: 0.75;}
	100% {opacity: 0;}
}

@-o-keyframes fadeOutOverlay {
	0% {opacity: 0.75;}
	100% {opacity: 0;}
}

@keyframes fadeOutOverlay {
	0% {opacity: 0.75;}
	100% {opacity: 0;}
}

.fadeOutOverlay {
	-webkit-animation-name: fadeOutOverlay;
	-moz-animation-name: fadeOutOverlay;
	-o-animation-name: fadeOutOverlay;
	animation-name: fadeOutOverlay;
}