.layer#layer-1(data-layer="true")
	.inner
		button.layer-close(data-layer-close="true")
			span &times;
		h2.layer-header Layer title
		.layer-content-wrap
			.layer-content
				+loremipsum()
		.layer-footer
			.inner
				div.right
					button(data-layer-close="true") Close layer

.layer#layer-2(data-layer="true")
	.inner
		button.layer-close(data-layer-close="true")
			span &times;
		h2.layer-header Layer title
		.layer-content-wrap
			.layer-content
				+loremipsum()
		.layer-footer
			.inner
				div.right
					button(data-layer-close="true") Close layer

.layer#layer-3(data-layer="true")
	.inner
		button.layer-close(data-layer-close="true")
			span &times;
		h2.layer-header Layer title
		.layer-content-wrap
			.layer-content
				+loremipsum()

.layer#layer-4(data-layer="true")
	.inner
		button.layer-close(data-layer-close="true")
			span &times;
		.layer-content-wrap
			.layer-content
				+loremipsum()
		.layer-footer
			.inner
				div.right
					button(data-layer-close="true") Close layer

.layer#layer-5(data-layer="true")
	.inner
		button.layer-close(data-layer-close="true")
			span &times;
		.layer-content-wrap
			.layer-content
				+loremipsum()