extends layouts/layout

block vars
	-title = 'Homepage'
	-bodyClass = 'home'
	-menuIndex = 0

block container
	.inner
		include blocks/sidebar
		main#main
			h3 Demo
			ul.demo-list
				li: a(href="javascript:void(0);", data-trigger-layer="#layer-1") Basic layer (scroll content)
				li: a(href="javascript:void(0);", data-trigger-layer="#layer-2") Basic layer (scroll popup)
				li: a(href="javascript:void(0);", data-trigger-layer="#layer-3") Layer without footer
				li: a(href="javascript:void(0);", data-trigger-layer="#layer-4") Layer without header
				li: a(href="javascript:void(0);", data-trigger-layer="#layer-5") Layer without header & footer
				li: a(href="javascript:void(0);", data-trigger-layer="#layer-6") Short content (scroll : content)
				li: a(href="javascript:void(0);", data-trigger-layer="#layer-7") Short content but force full height (scroll : content)
			+loremipsum()
	include blocks/layer