extends layouts/layout

block vars
	-title = 'Homepage'
	-bodyClass = 'home'
	-menuIndex = 0

block container
	.inner
		include blocks/sidebar
		main#main
			h3 Demo
			ul.demo-list
				li: a(href="javascript:void(0);", data-trigger-layer="#layer-1") Basic layer
			+loremipsum()
	include blocks/layer